# =========================
# ENV FILES
# =========================
.env
.env.local
.env.*.local

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
venv/
.pytest_cache/

# =========================
# NODE
# =========================
node_modules/
.next/
out/
dist/

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# BUILD FILES
# =========================
coverage/